.varios-elementos{
    background:#ccc;
    p{ color:red}
    a{ color:pink}
    input{
      -moz-border-radius: 20px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      border-left:solid 1px #eaeaeb;
      border-right:solid 1px #eaeaeb;
      border-bottom:solid 1px #eaeaeb; 
      border-top:solid 3px #ccc;
    }
 }