*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center {

    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    


}

header {

    background-color: white;
    padding: 20px 0;
    border-bottom: 2px solid #16507b;
    

}

.logo {

    color: #16507b;


}

.logo h2 {

    font-weight: normal;
    font-size: 18px;
}

.menu {

    text-align: right;
    width: 80%;
}

.menu a {

    color: #124265;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0,5s;
}

.menu a:hover {

    background-color: #0263ca;
    

}

.menu .btn-menu {

    background-color: #007bff;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
}

/*
Section Main
*/

section.main {

    background-image: url("/images/3436988.jpg");
    min-height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}

.main-cta {


    width: 100%;
    text-align: center;
    margin: 60px 0;



}

.main-cta button {

    background-color: #007bff;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
    border: none;
    width: 180px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;


}

.main-cta button:hover {

    background-color: #0263ca;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
    border: none;
    width: 180px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;


}

.main-cta h2 {

    color: #007bff;
    font-size: 40px;

}

.main-cta p {

    font-size: 19px;
    color: gray;
    margin: 10px 0;
}

.diferenciais {

    display: flex;
    flex-wrap: wrap;

}

.diferencial-single {

    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
    border-radius: 10px;
}

.diferencial-single i {

    color: #124265;
    font-size: 23px;
}

.diferencial-single h2 {

    color: #124265;
    margin: 10px 0;
    font-size: 17px;
}

.diferencial-single p {

    color: gray;
    font-size: 14px;
    line-height: 25px;
}

section.sobre {

    padding: 80px 0;
}

.chamada-sobre {

    text-align: center;
    width: 100%;
}

.chamada-sobre h2 {

    color: #124265;
    text-transform: uppercase;

}

.chamada-sobre p {

    font-size: 14px;
    color: gray;
    margin: 10px 0;
}


.conteudo-sobre p {

    margin: 0 20px;
}

.conteudo-sobre span {

    margin-bottom: 10px;
    display: inline-block;
}

.conteudo-sobre i {

    color: #007bff;
}

.chamada-sobre button {

    background-color: #007bff;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px 15px;

}

.chamada-sobre button:hover {

    background-color: #0263ca;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;

}










